/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  margin-top: 30px;
}

/* Стили для формы создания оборудования */
#createForm {
  margin-bottom: 20px;
}

#createForm label {
  display: block;
  margin-bottom: 5px;
}

#createForm input[type="text"],
#createForm input[type="checkbox"] {
  width: 200px;
  margin-bottom: 10px;
}

#createForm button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#createForm button:hover {
  background-color: #0056b3;
}

/* Стили для формы создания оборудования */
#createForm select {
  width: 220px;
  margin-bottom: 10px;
  padding: 5px;
}

/* Стили для выпадающего списка */
#createForm select {
  width: 220px;
  margin-bottom: 10px;
  padding: 5px;
}

/* Стили для опций в выпадающем списке */
#createForm select option {
  padding: 5px;
}

/* Стили для таблицы с оборудованием */
#equipmentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#equipmentTable th,
#equipmentTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

#equipmentTable th {
  background-color: #f2f2f2;
}

#equipmentTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#equipmentTable tbody tr:hover {
  background-color: #e6e6e6;
}

#equipmentTable td:nth-child(4) {
  text-align: center;
}
